span.icon-facebook {
    color: $icomoon-icon-facebook-color;
}

span.icon-facebook:hover {
    color: $icomoon-icon-facebook-color-hover;
}

span.icon-google {
    color: $icomoon-icon-google-color;
}

span.icon-google:hover {
    color: $icomoon-icon-google-color-hover;
}

span.icon-twitter {
    color: $icomoon-icon-twitter-color;
}

span.icon-twitter:hover {
    color: $icomoon-icon-twitter-color-hover;
}

span.icon-github {
    color: $icomoon-icon-github-color;
}

span.icon-github:hover {
    color: $icomoon-icon-twitter-color-hover;
}