$max-width-mobile: 800px;
$min-width-desktop: 800px;

$body-background: #ffffff;

$link-color: #505050;

$input-placeholder-color: #808080;
$input-color: #c0c0c0;
$input-border: 1px dashed #c0c0c0;
$input-font-size: 15px;
$input-line-height: 45px;
$input-focus-color: #505050;
$input-focus-border: 1px dashed #909090;

$input-checkbox-disable-color: #707070;
$input-checkbox-unchecked-color: #a0a0a0;
$input-checkbox-unchecked-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
$input-checkbox-checked-color: #707070;
$input-checkbox-unchecked-label-color: #707070;
$input-checkbox-checked-label-color: #707070;
$input-checkbox-checked-label-color-hover: #707070;

$icomoon-icon-facebook-color: #4267b2;
$icomoon-icon-facebook-color-hover: #5277f2;
$icomoon-icon-google-color: #db4437;
$icomoon-icon-google-color-hover: #eb5447;
$icomoon-icon-twitter-color: #1da1f2;
$icomoon-icon-twitter-color-hover: #4dc1f2;
$icomoon-icon-github-color: #607d8b;
$icomoon-icon-github-color-hover: #78909c;

$progessbar-gradient-left-color: #dd2c00;
$progessbar-gradient-right-color: #ff6d00;
$progressbar-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
$progressbar-height: 2px;

$header-background: #333333;
$header-border-bottom: 1px solid #2a2a2a;
$header-height: 50px;
$header-menu-color: #ffffff;
$header-menu-color-hover: #a0a0a0;
$header-menu-border-right: 1px solid #2e2e2e;
$header-action-button-color: #ffffff;
$header-action-button-color-hover: #a0a0a0;
$header-action-button-font-size: 13px;
$header-action-button-font-weight: bold;
$header-action-button-icon-font-size: 15px;
$header-action-share-border-left: 1px solid #2e2e2e;
$header-box-search-background: #3a3a3a;
$header-box-search-width: 240px;
$header-box-search-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
$header-box-search-input-color: #a0a0a0;
$header-box-search-input-font-size: 15px;
$header-box-search-input-border-bottom: 1px dashed #505050;
$header-box-search-input-height: 45px;
$header-box-search-input-color-hover: #ffffff;
$header-box-search-result-max-height: 320px;
$header-box-search-result-empty-color: #f44336;
$header-box-search-result-empty-font-size: 14px;
$header-box-search-alert-color: #ffffff;
$header-box-search-alert-font-size: 14px;
$header-box-search-item-color: #ffffff;
$header-box-search-item-color-hover: #a0a0a0;
$header-box-search-item-font-size: 15px;
$header-box-search-item-height: 45px;

$top-section-background: #333333;
$top-section-border-top: 1px solid #404040;
$top-section-height: 130px;
$top-section-logo-color: #ffffff;
$top-section-logo-font-size: 200%;

$wrapper-max-width: 1100px;
$wrapper-margin-top: 50px;
$wrapper-padding-left-right: 15px;

$content-wrapper-max-width: 66%;
$content-wrapper-margin-bottom: 30px;

$sidebar-wrapper-width: 31%;
$sidebar-wrapper-margin-bottom: 50px;
$sidebar-entry-border: 1px solid #dadada;
$sidebar-background-mobile: #333333;
$sidebar-box-shadow-mobile: 1px 0 8px rgba(0, 0, 0, 0.3);
$sidebar-width-mobile: 300px;
$sidebar-info-color: #a0a0a0;
$sidebar-info-font-size: 15px;
$sidebar-info-color-mobile: #ffffff;
$sidebar-info-border-mobile: 1px dashed #505050;
$sidebar-list-action-title-color: #606060;
$sidebar-list-action-title-color-mobile: #ffffff;
$sidebar-list-action-title-font-size: 16px;
$sidebar-list-action-title-border-bottom: 1px dashed #c0c0c0;
$sidebar-list-action-title-border-bottom-mobile: 1px dashed #505050;
$sidebar-list-action-entry-color: #707070;
$sidebar-list-action-entry-color-mobile: #f0f0f0;
$sidebar-list-action-entry-color-hover: #a0a0a0;
$sidebar-list-action-entry-color-hover-mobile: #a0a0a0;
$sidebar-list-action-entry-font-size: 15px;
$sidebar-list-action-entry-line-height: 42px;
$sidebar-list-action-entry-border-bottom: 1px dashed #dadada;
$sidebar-list-action-entry-border-bottom-mobile: 1px dashed #505050;
$sidebar-list-action-entry-description-color: #a0a0a0;
$sidebar-list-action-entry-description-color-mobile: #909090;
$sidebar-list-action-entry-description-font-size: 12px;
$sidebar-list-action-rectange-font-size: 5px;
$sidebar-list-action-empty-color: red;
$sidebar-list-action-empty-color-mobile: #f44336;

$article-title-color: #707070;
$article-title-font-size: 18px;
$article-title-padding: 20px;
$article-detail-color: #c0c0c0;
$article-detail-color-hover: #a0a0a0;
$article-detail-font-size: 15px;
$article-divider-border-top: 1px dashed #c0c0c0;
$article-action-height: 50px;
$article-list-title-font-size: 20px;
$article-list-title-padding-top-bottom: 20px;
$article-list-empty-color: red;
$article-list-empty-font-size: 15px;
$article-list-entry-border: 1px solid #dadada;
$article-list-entry-margin-bottom: 30px;
$article-list-thumb-background: #f0f0f0;
$article-list-thumb-color: #e0e0e0;
$article-list-thumb-border-bottom: 1px solid #dadada;
$article-list-thumb-img-border: 3px solid #ffffff;
$article-list-content-color: #a0a0a0;
$article-list-content-font-size: 14px;
$article-list-content-line-height: 25px;
$article-list-content-padding: 30px;
$article-list-content-padding-top: 20px;
$article-list-content-padding-bottom: 20px;
$article-content-title-font-size: 20px;
$article-content-title-color-hover: #a0a0a0;
$article-content-content-color: #404040;
$article-content-content-font-size: 16px;
$article-content-content-line-height: 25px;
$article-content-background: #ffffff;
$article-content-border: 1px solid #dadada;

$list-background: #ffffff;
$list-border: 1px solid #dadada;
$list-item-padding-left: 15px;
$list-item-padding-right: 30px;
$list-title-border-bottom: 1px dashed #c0c0c0;
$list-title-height: 55px;
$list-title-color: #505050;
$list-title-color-hover: #a0a0a0;
$list-title-name-hidden-color: #c0c0c0;
$list-empty-color: red;
$list-empty-icon-font-size: 16px;
$list-entry-color: #707070;
$list-entry-border-bottom: 1px dashed #dadada;
$list-entry-name-hidden-color: #c0c0c0;
$list-entry-name-hidden-color-hover: #a0a0a0;
$list-entry-description-color: #a0a0a0;
$list-entry-description-font-size: 12px;
$list-entry-line-height: 45px;

$breadcrumbs-background: #ffffff;
$breadcrumbs-border: 1px solid #dadada;
$breadcrumbs-height: 50px;
$breadcrumbs-divider-border: 1px solid #c0c0c0;
$breadcrumbs-color: #505050;
$breadcrumbs-font-size: 15px;
$breadcrumbs-font-weight: normal;
$breadcrumbs-color-hover: #a0a0a0;
$breadcrumbs-icon-home-font-size: 18px;

$sign-background: #ffffff;
$sign-max-width: 320px;
$sign-form-input-color: #a0a0a0;
$sign-form-input-border: 1px dashed #dadada;
$sign-form-input-font-size: 15px;
$sign-form-input-height: 50px;
$sign-form-input-color-hover: #505050;
$sign-form-input-border-hover: 1px dashed #a0a0a0;
$sign-form-button-color: #a0a0a0;
$sign-form-button-font-size: 15px;
$sign-form-button-height: 55px;
$sign-form-button-color-hover: #505050;

$alert-item-color: #505050;
$alert-item-link-color-hover: #707070;
$alert-item-background: #ffffff;
$alert-item-font-size: 15px;
$alert-item-border: 1px dashed #dadada;
$alert-item-border-left-style: solid;
$alert-item-border-left-width: 2px;
$alert-item-danger-color: #bf1c1c;
$alert-item-danger-border-color: #bf1c1c;
$alert-item-success-color: #33691c;
$alert-item-success-border-color: #33691c;
$alert-item-warning-color: #ef6c00;
$alert-item-warning-border-color: #ef6c00;
$alert-item-info-color: #006064;
$alert-item-info-border-color: #006064;
$alert-item-info-link-color-hover: #00acc1;

$form-background: #ffffff;
$form-border: 1px solid #dadada;
$form-title-border-bottom: 1px dashed #d0d0d0;
$form-title-color: #707070;
$form-title-font-size: 18px;
$form-label-color: #707070;
$form-label-font-size: 15px;
$form-text-border-bottom: 1px dashed #d0d0d0;
$form-text-value-color: #c62828;
$form-message-accept-color: #505050;
$form-message-accept-font-size: 15px;
$form-message-accept-line-height: 25px;
$form-message-accept-name-color: red;
$form-thumb-drag-icon-color: #e0e0e0;
$form-thumb-drag-icon-font-size: 400%;
$form-thumb-drag-border: 0;
$form-thumb-drag-border-hover: 1px dashed #b0b0b0;
$form-thumb-drag-tips-background: rgba(0, 0, 0, 0.6);
$form-thumb-drag-tips-color: #ffffff;
$form-thumb-drag-tips-font-size: 15px;
$form-button-height: 30px;
$form-button-color: #707070;
$form-button-color-hover: #a0a0a0;
$form-button-font-size: 14px;

$paging-background: #ffffff;
$paging-border: 1px solid #d0d0d0;
$paging-align: center;
$paging-height: 35px;
$paging-font-size: 13px;
$paging-current-color: #303030;
$paging-current-text-color: #ffffff;
$paging-jump-color: #303030;
$paging-jump-color-hover: #a0a0a0;
$paging-link-color: #707070;
$paging-link-color-hover: #303030;
$paging-icon-font-size: 22px;