$icomoon-font-path: "fonts" !default;

$icon-select-arrows: "\e920";
$icon-news: "\e91b";
$icon-config: "\e914";
$icon-send: "\e901";
$icon-circle-right: "\e91e";
$icon-circle-left: "\e91f";
$icon-circle: "\e91d";
$icon-search: "\e906";
$icon-pencil: "\e91c";
$icon-plus-rect: "\e91a";
$icon-minus-rect: "\e919";
$icon-layer: "\e915";
$icon-github: "\e918";
$icon-setting: "\e916";
$icon-home: "\e913";
$icon-info: "\e912";
$icon-danger: "\e90f";
$icon-warning: "\e910";
$icon-success: "\e911";
$icon-list-circle: "\e90b";
$icon-menu-bold: "\e90c";
$icon-list-rectange: "\e90d";
$icon-shutdown: "\e90a";
$icon-trash: "\e909";
$icon-key: "\e908";
$icon-rectange: "\e907";
$icon-google: "\e905";
$icon-twitter: "\e900";
$icon-facebook: "\e902";
$icon-profile: "\e923";
$icon-email: "\e945";
$icon-date: "\e953";
$icon-user: "\e971";
$icon-view: "\e9ce";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea54";
$icon-radio-unchecked: "\ea56";
$icon-plus: "\e917";
$icon-camera: "\e904";
$icon-camera-off: "\e903";
$icon-menu: "\e90e";

